<?xml version="1.0"?>
<config>
    <modules>
        <VS7_JSDB>
            <version>0.1.0</version>
        </VS7_JSDB>
    </modules>
    <global>
        <models>
            <vs7_jsdb>
                <class>VS7_JSDB_Model</class>
            </vs7_jsdb>
        </models>
        <helpers>
            <vs7_jsdb>
                <class>VS7_JSDB_Helper</class>
            </vs7_jsdb>
        </helpers>
        <events>
            <vs7_jsdb_create_db>
                <observers>
                    <vs7_jsdb_create_db>
                        <class>VS7_JSDB_Model_Observer</class>
                        <method>createDb</method>
                    </vs7_jsdb_create_db>
                </observers>
            </vs7_jsdb_create_db>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <vs7_jsdb>
                    <file>vs7_jsdb.xml</file>
                </vs7_jsdb>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <vs7_jsdb_create_db>
                <schedule>
                    <cron_expr>37 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>vs7_jsdb/observer::createDb</model>
                </run>
            </vs7_jsdb_create_db>
        </jobs>
    </crontab>
</config>